<!DOCTYPE html>
<html>
<head>
    <title>Predict Insurance Charges</title>
</head>
<body>
    <div>
        <h1>Predict Insurance Charges</h1>
        <form method="POST">
            <label for="age">Age:</label><br>
            <input type="text" id="age" name="age" value="30"><br><br>

            <label for="sex">Sex:</label><br>
                <select name="sex" id="sex">
                <option value=""></option>
                <option value="male">Male</option>
                <option value="female" selected="selected">Female</option>
            </select><br><br>

            <label for="bmi">TODO 1 - BMI:</label><br>
            <!-- Fill in BMI text field here, similar to Age -->
            <br><br>

            <label for="children">Children:</label><br>
            <select name="children" id="children">
                <option value=""></option>
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 or more</option>
            </select><br><br>

            <label for="smoker">TODO 2 - Smoker:</label><br>
            <!-- Fill in smoker select/dropdown field here, similar to Children -->
            <br><br>

            <label for="region">Region:</label><br>
            <select name="region" id="region">
                <option value=""></option>
                <option value="southwest" selected="selected">Southwest</option>
                <option value="southeast">Southeast</option>
                <option value="northwest">Northwest</option>
                <option value="northeast">Northeast</option>
            </select><br><br>
            
            <input type="submit" value="Predict">
        </form>

        <!-- TODO 3: Add h2 element to display model prediction  -->
        <!--         (Use Jinja templating with if condition)    -->

    </div>
</body>
</html>
